@import url("junit5.css");

body:before {
    content: "";
    background: url(geecon.png) no-repeat 0 0;
    background-size: 100%;
    display: inline-block;
    width: 7em;
    height: 7em;
    position: fixed;
    bottom: 3.5em;
    right: 3.5em;
}
