@import url("junit5.css");

body:before {
    content: "";
    background: url(jeeconf-logo.png) no-repeat bottom;
    background-size: 100%;
    display: inline-block;
    width: 15%;
    height: 100%;
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: -1;
}
