@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

.reveal {
    font-size: 36px;
}
.reveal li {
    margin-top:.5em;
}
.reveal, .reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Lato', sans-serif;
}
.reveal code, .reveal pre {
    font-family: 'Fira Mono', monospace;
}
.reveal :not(pre) > code {
    padding: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 7px;
}
.reveal :not(pre) > code::before, .reveal :not(pre) > code::after {
    letter-spacing: -0.25em;
    content: "\00a0";
}

body:after {
    content: "";
    background: url(junit5-logo.svg) no-repeat bottom;
    background-size: 100%;
    display: inline-block;
    width: 7%;
    height: 100%;
    position: fixed;
    bottom: 3%;
    left: 3%;
}

hr {
    border: 1px solid black;
}

.reveal span.since {
    display: inline-block;
    color: white;
    background-color: #25a162;
    font-size: 80%;
    border-radius: 1em;
    font-weight: 900;
    padding: 0 .75ex;
}
