@import url("junit5.css");

body:before {
    content: "";
    background: url(wjax-logo.png) no-repeat bottom;
    background-size: 100%;
    display: inline-block;
    width: 10%;
    height: 100%;
    position: fixed;
    bottom: 3%;
    right: 3%;
}
